*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0,0, 0.5);
    position: sticky;
    top: 0%;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0;
    
}
.navbar ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 25px;
    transform: all .5 ease;
}
.navbar ul li a:hover{
    background-color: beige;
    color: black;
    box-shadow: 0 0 10px wheat;
 
}