*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0,0, 0.5);
    position: sticky;
    top: 0%;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0;
    
}
.navbar ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 8px 25px;
    transform: all .5 ease;
}
.navbar ul li a:hover{
    background-color: beige;
    color: black;
    box-shadow: 0 0 10px wheat;
 
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0,0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("img.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid wheat; */
    /* border-radius: 45px; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
}